# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.class

src/main/generated/
generated/
target/
bin/
build/
.gradle/

# Intellij
/.idea/
*.iml
*.iws
*.ipr
.idea/*.xml

/.editorconfig

/target/
target2/
**/target2/
!.mvn/wrapper/maven-wrapper.jar

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# MacOS
.DS_Store

# Eclipse 
.project
.settings/
.factorypath
.springBeans

# IntelliJ and PyCharm

*.iml
*.iws
*.ipr
.idea/
*/.idea/

# Java
target/
build/
.classpath

# Python
*.pyc
.cache/
*/.cache/

# Node.js
node_modules/
**/node_modules/

# Custom
config.yaml
secret.properties
secret.json
service-account.json

allure-results/
.allure/
data/gtfs/